<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2>Time Taken: {{totalTimeTaken}}</h2>
    </div>
    <div class="col-md-6">
      <h4>The Token: {{finalResult.token}}</h4>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-md-10">
      <form>
          <div class="form-group">
            <label for="planetSelection">The Planets</label>
            <select id="selectPlanet" class="form-control">
              <option selected>Choose One...</option>
              <option *ngFor="let planet of planets">
                {{planet.name}}, Distance: {{planet.distance}}
              </option>
            </select>
          </div>
        </form>
    </div>
  </div>

</div>